version: 2

updates:
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
    day: "sunday"
  open-pull-requests-limit: 5
  labels:
    - "Type: Dependency Upgrade"
    - "Priority 1: Must"
  milestone: 119
  groups:
    github-dependencies:
      update-types:
        - "patch"
        - "minor"
        - "major"

- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: weekly
    day: "sunday"
  open-pull-requests-limit: 5
  labels:
    - "Type: Dependency Upgrade"
    - "Priority 1: Must"
  milestone: 119
  groups:
    maven-dependencies:
      update-types:
        - "patch"
        - "minor"
        - "major"
  ignore:
    - dependency-name: "com.github.kagkarlsson:db-scheduler"
      versions: [ "[14.0.0,)" ] # TODO #3194 Remove ignore rule to auto-update to recent db-scheduler versions
    - dependency-name: "org.springframework:spring-framework-bom"
      versions: [ "[7.0.0,)" ]
    - dependency-name: "org.springframework.security:spring-security-bom"
      versions: [ "[7.0.0,)" ]
