version: 2

updates:
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
    day: "sunday"
  open-pull-requests-limit: 5
  labels:
    - "Type: Dependency Upgrade"
    - "Priority 1: Must"
  milestone: 110
  reviewers:
    - "AxonFramework/framework-developers"
  groups:
    github-dependencies:
      update-types:
        - "patch"
        - "minor"
        - "major"

- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: weekly
    day: "sunday"
  open-pull-requests-limit: 5
  labels:
    - "Type: Dependency Upgrade"
    - "Priority 1: Must"
  milestone: 110
  reviewers:
    - "AxonFramework/framework-developers"
  groups:
    maven-dependencies:
      update-types:
        - "patch"
        - "minor"
        - "major"
  ignore:
    - dependency-name: "com.github.kagkarlsson:db-scheduler"
      versions: [ "[14.0.0,)" ]
    - dependency-name: "com.fasterxml.jackson.core:jackson-databind"
      versions: [ "[2.18.0,)" ]
    - dependency-name: "com.lmax:disruptor"
      versions: [ "[4.0.0,)" ]
    - dependency-name: "jakarta.annotation:jakarta.annotation-api"
      versions: [ "[3.0.0,)" ]
    - dependency-name: "jakarta.el:jakarta.el-api"
      versions: [ "[5.0.0,)" ]
    - dependency-name: "org.apache.felix:maven-bundle-plugin"
      versions: [ "[6.0.0,)" ]
    - dependency-name: "org.hibernate:hibernate-validator"
      versions: [ "[7.0.0,)" ]
    - dependency-name: "org.mockito:*"
      versions: [ "[5.0.0,)" ]
    - dependency-name: "org.openrewrite.recipe:rewrite-migrate-java"
      versions: [ "[2.0.0,)" ]
    - dependency-name: "org.openrewrite:rewrite-test"
      versions: [ "[8.0.0,)" ]
    - dependency-name: "org.quartz-scheduler:quartz"
      versions: [ "[2.5.0,)" ]
    - dependency-name: "org.springframework:*"
      versions: [ "[6.0.0,)" ]
    - dependency-name: "org.springframework.boot:*"
      versions: [ "[3.0.0,)" ]
    - dependency-name: "org.springframework.security:*"
      versions: [ "[6.0.0,)" ]