version: 2

updates:
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
    day: "sunday"
  open-pull-requests-limit: 5
  labels:
    - "Type: Dependency Upgrade"
    - "Priority 1: Must"
  milestone: 119
  groups:
    github-dependencies:
      update-types:
        - "patch"
        - "minor"
        - "major"

- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: weekly
    day: "sunday"
  open-pull-requests-limit: 5
  labels:
    - "Type: Dependency Upgrade"
    - "Priority 1: Must"
  milestone: 119
  groups:
    maven-dependencies:
      update-types:
        - "patch"
        - "minor"
        - "major"
  ignore:
    - dependency-name: "org.springframework:*"
      versions: [ "[7.0.0,)" ]
    - dependency-name: "org.springframework.security:*"
      versions: [ "[7.0.0,)" ]
    - dependency-name: "org.springframework.boot:*"
      versions: [ "[4.0.0,)" ]
    - dependency-name: "org.springdoc:*"
      versions: [ "[3.0.0,)" ]
    - dependency-name: "org.springframework.data:*"
      versions: [ "[2025.0.0,)" ]
