<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBoot4ExampleApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="axon-example-af4-sb4" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="org.axonframework.examples.sp4.SpringBoot4ExampleApplication" />
    <option name="VM_PARAMETERS" value="-Ddisable-axoniq-console-message=true" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="org.axonframework.examples.sp4.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>