<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2010-2011. Axon Framework
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="repositoryOne" class="org.axonframework.eventsourcing.EventSourcingRepository">
        <constructor-arg>
            <bean class="org.axonframework.eventsourcing.SpringPrototypeAggregateFactory">
                <property name="prototypeBeanName" value="myStubAggregate"/>
            </bean>
        </constructor-arg>
        <property name="eventBus" ref="eventBus"/>
        <property name="eventStore" ref="eventStore"/>
    </bean>

    <bean id="repositoryTwo" class="org.axonframework.eventsourcing.EventSourcingRepository">
        <constructor-arg>
            <bean class="org.axonframework.eventsourcing.SpringPrototypeAggregateFactory">
                <property name="prototypeBeanName" value="myStubAggregate"/>
                <property name="typeIdentifier" value="anotherTypeIdentifier"/>
            </bean>
        </constructor-arg>
        <property name="eventBus" ref="eventBus"/>
        <property name="eventStore" ref="eventStore"/>
    </bean>

    <bean id="eventBus" class="org.axonframework.testutils.MockitoMockFactoryBean">
        <property name="mockType" value="org.axonframework.eventhandling.EventBus"/>
        <property name="singleton" value="true"/>
    </bean>

    <bean id="eventStore" class="org.axonframework.testutils.MockitoMockFactoryBean">
        <property name="mockType" value="org.axonframework.eventstore.EventStore"/>
        <property name="singleton" value="true"/>
    </bean>

    <bean id="myStubAggregate" class="org.axonframework.domain.StubAggregate" scope="prototype"/>

</beans>