name: Axon Framework (Pull Request)

on:
  pull_request:
    paths-ignore:
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Test and Build on JDK ${{ matrix.java-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - java-version: 21
            sonar-enabled: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4.6.0
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java-version }}
          cache: "maven"
          server-id: sonatype
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Regular Build
        if: ${{ !matrix.sonar-enabled }}
        run: |
          ./mvnw -B -U -Dstyle.color=always -Possrh -Pintegration-test -Djacoco.skip=true clean verify

      - name: Build with Coverage reports
        if: matrix.sonar-enabled
        run: |
          ./mvnw -B -U -Dstyle.color=always -Possrh -Dcoverage clean verify

      - name: Sonar Analysis
        if: ${{ success() && matrix.sonar-enabled && github.event.pull_request.head.repo.full_name == github.repository }}
        run: |
          ./mvnw -B -Dstyle.color=always sonar:sonar \
          -Dsonar.projectKey=AxonFramework_AxonFramework \
          -Dsonar.organization=axonframework \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create test summary
        uses: test-summary/action@v2
        with:
          paths: "**/target/surefire-reports/TEST-*.xml"
          show: "fail, skip"
        if: always() # This allows the build step to fail -- due to failing tests -- but still produce a test summary.